.card {
  width: 100px;
  height: 200px;
  align-items: center;
  justify-content: center;

  font-size: 80px;
  text-align: center;
  content-visibility: hidden;

  background: url(img/card-front.png) no-repeat center/cover;

  border: 1px solid yellow;

  transform: rotateY(180deg);
  transition: transform .3s;
  cursor: pointer;
}

.card.flipped {
  position: relative;

  content-visibility: visible;

  background-image: none;

  transform: rotateY(360deg);
}

.card.flipped::after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: '';

  background: url(img/card-back.png) no-repeat center/cover;
  opacity: .3;
}

.play-again-btn {
  position: absolute;
}
